@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

@font-face {
  font-family: avantgarde;
  src: url(fonts/AvantGardeGothic);
}

$primary: #de8020;
$secondary: #540103;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "avantgarde", "poppins", sans-serif;
}

nav {
  .nav-seen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin: 1em 1.2em 0 0;
  /*  margin: 1.5em 5.5em 0 1.5em; */

  .icons-image {
    display: flex;
    flex-direction: row;

    .icon-nav {
      width: 30px;
      margin-left: 1em;
    }
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-left: 0.6em;
    z-index: 2;
  }

  .line1,
  .line2,
  .line3 {
    width: 40px;
    height: 0.15rem;
    background: black;
    margin: 12px;
  }

  /* hamburger lines aniamtion */

  .toggle .line1 {
    transform: rotate(-45deg) translate(-45px, -45px);
    background-color: #fff;
    position: fixed;
  }
  .toggle .line2 {
    opacity: 0;
    position: fixed;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-45px, 45px);
    background-color: #fff;
    position: fixed;
  }

  .nav-links {
    position: absolute;
    top: -5%;
    left: 0;

    width: 100%;
    background: #de8020;

    height: 105%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    display: none;

    .nav-links-header {
      position: absolute;
      font-size: 0.8em;
      top: 8%;
      left: 3%;
      color: #fff;
      font-weight: 300;
      font-family: "Poppins", sans-serif;
    }

    .nav-links li a:hover {
      color: $secondary;
    }
  }

  .nav-active {
    transform: translateX(0%);
    display: block;
    position: fixed;

    margin: auto 0;
  }

  .nav-links li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 200;
    line-height: 1.2em;
    float: left;
    margin-left: 2.5em;
  }

  .menu-links {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin-top: 6.5em;
    margin-left: -4em;
    text-decoration: none;
    list-style: none;

    li a {
      line-height: 1.5em;

      &:hover {
        color: $secondary;
      }
    }
  }

  .nav-footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2em 0em 0 0;

    a {
      margin-left: 2.5em;
      color: #fff;
      text-decoration: none;
      margin-bottom: 2em;
    }
  }
}

/* section index  */

.section-text {
  width: 85%;
  margin: 0 auto;

  h1 {
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 1em;
  }

  h2 {
    font-size: 1.2rem;
  }
}

/* main section images */

img {
  width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;

  .flex-column-one {
    .image-container {
      /*  position: absolute; */
      opacity: 1;
      transition: 0s 180s;

      p {
        position: absolute;
        top: 0%;
        left: 0%;
        padding: 0.5em;
        color: #fff;
        z-index: -1;
        font-size: 1.8em;
      }

      :hover {
        opacity: 0;
        transition: 0.1s;
      }
    }

    /*  first image  */

    .flex-image-1 {
      background-color: #de8020;
      width: 40%;
      z-index: -1;
      float: right;

      /*   position: absolute; */
      opacity: 1;
      transition: 0s 180s;

      /* p {
        &::before {
          content: "hello";
          top: 0%;
          left: 0%;
          padding: 0.5em;
          color: rgb(110, 17, 17);
          z-index: 3;
          font-size: 1.8em;
          margin-bottom: -3em;
        }
      } */

      :hover {
        opacity: 0;
        transition: 0.1s;

        &::before {
          content: "hello";
          top: 0%;
          left: 0%;
          padding: 0.5em;
          color: rgb(110, 17, 17);
          z-index: 10;
          font-size: 1.8em;
          margin-bottom: -3em;
        }
      }
    }
  }

  .flex-image-2 {
    background-color: #2320de;
    width: 40%;
    z-index: -1;
    float: left;

    p {
      position: absolute;
      top: 0%;
      left: 0%;
      padding: 0.5em;
      color: #fff;
      z-index: 1;
      font-size: 1.8em;
    }

    :hover {
      opacity: 0;
      transition: 0.1s;
    }
  }
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 2em;
  /* justify-content: left; */
  /* height: 50vh; */
  background-color: $primary;
  margin-top: 3em;

  .footer-header {
    /* display: block; */
    margin-left: 3em;
    color: #fff;

    h1 {
      font-size: 2.5em;
      font-weight: 300;
    }
  }

  .double-arrow-desktop {
    display: none;
  }

  .mail-section {
    display: flex;
    flex-direction: column;
    margin-left: 3em;

    input {
      width: 90%;
      height: 2em;
      background-color: #de8020;
      border-style: none none solid none;
      border-color: white;
      margin-bottom: 2em;

      &::placeholder {
        color: #ffffff;
      }
    }
  }

  button {
    border-color: #fff;
    background-color: #de8020;
    width: 50%;
    padding: 0.8em 3em;
    /*  padding: 0.4em 1.6em; */
    color: #fff;
    font-size: 0.9em;
    border-style: solid;
    margin-bottom: 5em;
  }
}

.footer-end {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  /* justify-content: space-between;
    margin: 4em 3em 4em 3em; */
  color: #fff;

  .footer-end-links {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      flex-direction: column;
      color: #fff;

      text-decoration: none;
      margin-bottom: 2em;
    }
  }

  .arrow-up-mobile {
    /* position: absolute; */
    margin-bottom: 0.5em;
    width: 55px;
    margin-bottom: 1em;

    img {
      position: absolute;
      bottom: 30%;
      left: 70%;
      width: 55px;
      display: flex;
      align-items: flex-end;
      justify-content: end;
    }
  }

  .footer-allrights {
    margin-top: 5em;
    font-size: 0.8rem;
  }
}

/* header + name for each page with heading (about....) */

.name-subject {
  display: flex;
  flex-direction: column;
  margin: -3.3em 0 0 2em;
  .name-header {
    font-family: "poppins", sans-serif;
    font-size: 1.1rem;
    margin-bottom: -1em;
  }

  .page-subject {
    width: 90%;
    line-height: 1em;
    margin-top: 1em;
    font-size: 2.25rem;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  float: left;
  margin-left: 3em;
  margin-bottom: 20em;

  .about-image {
    width: 50%;
    margin-top: 1em;
    margin-bottom: 3em;
    float: left;
  }

  .about-text-container {
    .artist-st {
      h1 {
        font-size: 1.2rem;
        margin-bottom: -1em;
      }

      p {
        font-family: "poppins", sans-serif;
        line-height: 1.5em;
        font-size: 1.108rem;
      }
    }

    .artist-bio {
      h1 {
        font-size: 1.2rem;
        margin-bottom: -1em;
        margin-top: 4em;
      }

      p {
        font-family: "poppins", sans-serif;
        line-height: 1.5em;
        font-size: 1.108rem;
      }
    }
  }
}

/* works page  */

.works-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 86%;
  margin: 0 auto;
  align-items: baseline;

  & > div {
    margin: 3.2px;
    margin-bottom: 2em;
  }

  .image-container {
    max-width: 47%;
    cursor: pointer;
  }

  .flex-image-7 img {
    width: 95%;
    height: 100%;
  }
}

/* colour in composition  */

.colour-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 88%;
  margin: 0 auto;
  align-items: baseline;

  & > div {
    margin: 4px;
    margin-bottom: 2em;
  }

  .colour-image-container {
    max-width: 47%;
    margin-bottom: 1em;

    h1 {
      font-size: 1rem;
      font-weight: 300;
      margin-top: -0.1em;
    }
  }
}

.size-info {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: 5em;
  margin-bottom: 10em;
}

/* ffm  */

.ffm-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 88%;
  margin: 0 auto;
  align-items: baseline;

  & > div {
    margin: 5.2px;
    margin-bottom: 2em;
  }

  .ffm-image-container {
    max-width: 46%;
    margin-bottom: 1em;

    h1 {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

.size-info-ffm {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: -1.5em;
  margin-bottom: 10em;
  margin-left: 2em;

  h1 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 5rem;
  }
}

/* still ok page */

.ok-container {
  width: 80%;
  margin: 0 auto;

  .ok-image-container {
    margin-bottom: 1em;
  }
}

.size-info-ok {
  float: left;
  margin-left: 2.5em;
  margin-top: 0em;
  font-weight: 300;
  margin-bottom: 8em;

  h1 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 5rem;
  }
}

/* helter skelter */

.helter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 88%;
  margin: 0 auto;
  align-items: baseline;

  & > div {
    margin: 3.2px;
    margin-bottom: 2em;
  }

  .helter-image-container {
    max-width: 47%;
    margin-bottom: 1em;

    h1 {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

.size-info-helter {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: 5em;
  margin-bottom: 10em;
  margin-left: 1.5em;
}
/* ask politely */

.askpolitely-container {
  width: 80%;
  margin: 0 auto;

  h1 {
    font-size: 1rem;
    margin: 0.5em 0 2em 0;
    font-weight: 300;
  }
}

.size-info-askpolitely {
  width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: 5em;
  margin-bottom: 10em;
  margin-left: 2em;
}

/*  many ways */

.manyways-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 88%;
  margin: 0 auto;
  align-items: baseline;

  & > div {
    margin: 5.2px;
    margin-bottom: 2em;
  }

  .manyways-image-container {
    max-width: 46%;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 1rem;
    font-weight: 300;
    margin-top: -2em;
    margin-bottom: 5rem;
  }
}
.size-info-manyways {
  float: left;
  margin-left: 2.1em;
  margin-top: -1.8em;
  font-weight: 300;
}

/* madame */

.madame-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;

  width: 92%;
  margin: 0 auto;
  margin-left: 3em;
  align-items: baseline;

  & > div {
    margin: 5.2px;
    margin-bottom: 2em;
  }

  .madame-image-container {
    width: 27%;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 1rem;
    font-weight: 300;
  }
}

.size-info-madame {
  float: left;
  margin-left: 3.3em;
  margin-top: -1.8em;
  font-weight: 300;

  h1 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 5rem;
  }
}

/* tumble */

.tumble-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;

  width: 92%;
  margin: 0 auto;
  margin-left: 3em;
  align-items: baseline;

  & > div {
    margin: 5.2px;
    margin-bottom: 2em;
  }

  .tumble-image-container {
    width: 27%;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 1rem;
    font-weight: 300;
  }
}

.size-info-tumble {
  float: left;
  margin-left: 3.3em;
  margin-top: -1.8em;
  font-weight: 300;

  h1 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 5rem;
  }
}

/* ************* exhibitions ******************** */

/* *****************publications***************** */

.publications-container {
  width: 80%;
  margin: 0 auto;

  .publications-text {
    h1 {
      font-size: 1rem;
      margin: 4em 0 2em 0;
    }
  }

  .book-info {
    h1 {
      font-size: 1rem;
      margin-top: 2em;
    }

    ul {
      margin-left: -2.5em;
      margin-top: -0.6em;
      li {
        list-style: none;
      }
    }
  }
}

/* ********imprint ******* */

.imprint-container {
  width: 80%;
  margin: 0 auto;
  float: left;
  margin-left: 3em;
  margin-bottom: 10em;
}

/* privacy policy */

.policy-container {
  width: 80%;
  margin: 0 auto;
  float: left;
  margin-left: 3em;
  margin-bottom: 10em;

  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: 1em;
  }

  ul li {
    list-style: none;
    margin-bottom: 1em;
  }
}

/* contact */
.contact-container {
  width: 80%;
  margin: 0 auto;
  float: left;
  margin-left: 3em;
  margin-bottom: 10em;
  z-index: -2;

  h1 {
    font-size: 1em;
    margin-bottom: -1em;
  }
}

/* ***************** Media Queries *************** */

@media screen and (min-width: 960px) {
  /* ***********index. html************** */

  .section-text {
    margin-top: -4em;
    h1 {
      font-size: 5.8rem;
    }
  }

  /* nav menu */
  .nav-menu {
    .nav-seen {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 2em;
    }

    .menu-links {
      display: inline-block;

      flex-direction: column;
      margin-top: 5em;
      text-decoration: none;
      list-style: none;
      font-size: 2.5rem;

      .menu-links li {
        display: flex;

        margin-left: auto;
        margin-right: auto;
        line-height: 1.5em;

        .menu-links li a {
          font-size: 2.5rem;
        }
      }
    }

    .nav-footer-links {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-end;
      margin-right: 6em;
      margin-top: 4em;
    }
  }

  footer {
    .footer-header {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;

      .double-arrow-desktop {
        display: block;
        width: 50px;
        margin-right: 5em;
      }
    }

    .mail-section {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      width: 600px;

      button {
        margin-left: 2em;
        width: 160px;
      }
    }

    .footer-end {
      display: flex;
      flex-direction: row-reverse;
      align-items: baseline;
      justify-content: space-between;

      margin-top: -2em;

      .footer-end-links {
        margin-right: 5em;
        display: flex;
        flex-direction: row;
        float: right;

        a {
          margin-left: 3em;
        }
      }
    }
  }

  .arrow-up-mobile {
    display: none;
  }

  /* works */

  .works-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    align-items: baseline;

    & > div {
      margin: 5.2px;
      margin-bottom: 2em;
    }

    .image-container {
      max-width: 345px;
      cursor: pointer;
    }

    .flex-image-7 {
      width: 700px;
      /* height: 100%; */
    }
  }

  /* **********about ************** */

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin-top: auto 0;
    float: left;

    .about-image {
      width: 250px;
      height: 350px;

      margin-right: 15em;
    }

    .about-text-container {
      width: 45%;
      margin-right: 10em;
      /*  margin-left: 10em; */
    }
  }

  /* color  */

  .colour-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    align-items: baseline;
  }

  /* manyways */

  .manyways-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    align-items: baseline;

    & > div {
      margin: 4px;
      margin-bottom: 2em;
    }

    .manyways-image-container {
      max-width: 47%;
      margin-bottom: 1em;

      h1 {
        font-size: 1rem;
        font-weight: 300;
        margin-top: -0.1em;
      }
    }
  }

  .size-info-manyways {
    float: left;
    margin-left: 3.3em;
    margin-top: -1.8em;
    font-weight: 300;

    h1 {
      margin-left: 10em;
    }
  }

  /*  ffm */

  .ffm-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 94%;
    margin: 0 auto;
    align-items: baseline;

    .ffm-image-container {
      max-width: 24%;
      margin-bottom: 1em;
    }
  }

  .size-info-ffm {
    float: left;
    margin-left: 2.4em;
    margin-top: em;
    font-weight: 300;
    margin-left: 4em;
    h1 {
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 5rem;
    }
  }

  /* helter */

  .helter-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 94%;
    margin: 0 auto;
    align-items: baseline;

    .helter-image-container {
      max-width: 24%;
      margin-bottom: 1em;
    }
  }

  .size-info-helter {
    float: left;
    margin-left: 3em;
    margin-top: 5em;
    font-weight: 300;
  }

  /* still ok */

  .ok-container {
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 3em;
    width: 92%;

    .ok-image-container {
      margin: 0 0.5em 0 0.5em;
    }
  }

  .size-info-ok {
    float: left;
    margin-left: 3.5em;
    margin-top: 0em;
    font-weight: 300;
  }

  /* madame */

  .madame-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    align-items: baseline;
    margin-left: 2em;

    .madame-image-container {
      max-width: 24%;
      margin-bottom: 1em;
    }
  }

  /* tumble */

  .tumble-container {
    display: flex;
    flex-direction: row;

    margin-left: 3em;
    margin-right: 3em;
    width: 96%;

    .tumble-image-container {
      max-width: 10%;
    }
  }

  .size-info-tumble {
    float: left;
    margin-left: 3.3em;
    margin-top: em;
    font-weight: 300;
  }

  /* ask politely */

  .askpolitely-container {
    display: flex;
    flex-direction: row;
    width: 55%;
    margin: 0 auto;
    align-items: baseline;

    .askpolitely-image-container {
      margin: 0.5em;
    }
  }

  .size-info-askpolitely {
    float: left;
    margin-left: 3em;
    margin-top: 5em;
    font-weight: 300;
  }

  .page-subject span {
    display: block;
  }

  /* *********** publication ************ */

  .publications-container {
    display: flex;
    flex-direction: row;
    float: left;
    align-items: flex-start;
    margin-bottom: 10em;

    .publications-image-container {
      width: 40%;
      margin-left: 3em;
      margin-top: 4em;
      margin-right: 8em;
    }

    .publications-text {
      width: 40%;
    }
  }

  /* ******** contact ********** */

  .contact-wrap {
    float: left;
    position: relative;
    left: 50%;

    .contact-container {
      float: left;
      position: relative;
      left: -50%;
    }
  }
}
